{%for room in rooms%}
<div id="similar">
<div class="files-new">
<ul>
<li onclick="if ('ontouchstart' in document.documentElement) {top.location='/give-and-take-why-helping-others-drives-our-success-e58864799.html'}"><div class="row"> <div class="col-sm ">
<div class="file-left">
<a href="/give-and-take-why-helping-others-drives-our-success-e58864799.html" data-id="58864799">
<img class="img-zoom file-img" src="https://cdn.asaha.com/assets/thumbs/653/653f249a58f438ef343c5da5f023203d-s.jpg" data-original="https://cdn.asaha.com/assets/thumbs/653/653f249a58f438ef343c5da5f023203d-s.jpg" alt="Give and Take: WHY HELPING OTHERS DRIVES OUR SUCCESS" title="Give and Take: WHY HELPING OTHERS DRIVES OUR SUCCESS" loading="lazy">
</a>
</div>
<div class="file-right">
<a href="/give-and-take-why-helping-others-drives-our-success-e58864799.html" data-loc="1" data-from="10172273" data-to="58864799" class="ai-similar">
<h2>{{room.topic.name}}</h2>
</a>
<div class="file-info" data-id="58864799"> <span class="fi-pagecount ">260 Pages</span><span class="ml-1 mr-1">·</span><span class="fi-year ">2011</span><span class="ml-1 mr-1">·</span><span class="fi-size hidemobile">1.57 MB</span> <br>
</div>
{{room.description}}
</div>
</div>
</div> </li>


{%endfor%}

</ul>
</div>
